.ServiceCard{
    width: 200px;
    height: fit-content;
    position: relative;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
}
.ServiceCard .availability {
  width: 30px;
  height: 50px;
  background-color: var(--none);
  position: absolute;
  top: 0;
  left: 0;
}
.ServiceCard .availability img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ServiceCard .availability::before{
    content: attr(value);
    width: fit-content;
    z-index: 2;
    position: relative;
    /* top: 20px; */
    margin: auto;
    font-size: 10px;
    zoom: 70%;
    transform: rotateX(90deg);
}


.ServiceCard .illustration {
  width: calc(100% - 20px);
  height: 150px;
  background-color: var(--primary-fade);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}
.ServiceCard .illustration img{
    width: 100%;
    height: 100%;
    max-height: fit-content;
    
}

.ServiceCard .service {
  width: 100%;
  height: fit-content;
  background-color: var(--none);
  text-align: left;
}

.ServiceCard .cta {
  width: 100%;
  height: fit-content;
  background-color: var(--none);
}
.ServiceCard .cta .button{
  width: 100%;
}
.ServiceCard .cta .Dbutton{
  background-color: var(--primary-fade);
  width: 100%;

}
.ServiceCard .cta .Dbutton .inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
  }
.ServiceCard .cta .Dbutton .ICN{
    width: 15px;
    height: 15px;
    display: inline-block;
}
.ServiceCard .cta .Dbutton .ICN svg{
    width: 100%;
    height: 100%;
    transform: translateY(-2.5px);
}